@using NatureCottages.ViewModels.General
@model NatureCottages.ViewModels.Forms.CottageFormViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    Layout = "Layout/_Layout";
}

<div align="center" style="margin: 5%;">
      
    <h3>Edit Cottage</h3>
    
    
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <form method="post" enctype="multipart/form-data" action="/Forms/SubmitCottageEditForm" method="post">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Cottage.Name, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Cottage.Name, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Cottage.Name)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Cottage.PricePerNight, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Cottage.PricePerNight, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Cottage.PricePerNight)
                </div>

                <br />

                <div class="mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => m.Cottage.Description, new { @class = "mdl-textfield__label" })
                    @Html.TextAreaFor(m => m.Cottage.Description, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Cottage.Description)
                </div>

                <br />

                <div class="mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => m.Cottage.IsVisibleToClient, new { @class = "mdl-textfield__label" })
                    @Html.CheckBoxFor(m => m.Cottage.IsVisibleToClient, new { @class = "mdl-checkbox__input" })
                </div>

                @Html.HiddenFor(m => m.Cottage.Id)

                <br />
                <input type="submit" />
                <br />
            </form>
        </div>
        
        

        <div class="mdl-cell mdl-cell--6-col">
            @await Html.PartialAsync("ImageViewer", new ImageViewerViewModel{ImageGroup = Model.Cottage.ImageGroup, IsEditable = true})                        
            
            <h2>Add Extra Images Here</h2>

            <form enctype="multipart/form-data" method="post" action="\Form\AddImages\@Model.Cottage.ImageGroup.Id\@true">
                <input type="file" multiple name="images" accept=".png,.jpg,.jpeg"/>
                <br/>
                <input type="submit"/>
            </form>

        </div>
        </div>
    </div>
