@model NatureCottages.ViewModels.Forms.CottageFormViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "Layout/_Layout";
}

<div align="center" style="margin: 5%;">

    <h3>Add Cottage</h3>

    <form method="post" enctype="multipart/form-data" action="/Form/SubmitCottageForm" method="post" style="width: 50%;">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => Model.Cottage.Name, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(m => Model.Cottage.Name, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.Cottage.Name)
        </div>

        <br />

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => Model.Cottage.PricePerNight, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(m => Model.Cottage.PricePerNight, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.Cottage.PricePerNight)
        </div>

        <br />

        <div class="mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.Cottage.Description, new { @class = "mdl-textfield__label" })
            @Html.TextAreaFor(m => m.Cottage.Description, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.Cottage.Description)
        </div>



        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Cottage_IsVisibleToClient">
            @Html.CheckBoxFor(m => m.Cottage.IsVisibleToClient, new { @class = "mdl-checkbox__input" })
            <span class="mdl-checkbox__label">Visible To Client?</span>
        </label>

        <br />
        <br />

        <div class="">
            <input name="images" type="file" multiple accept=".png,.jpeg,.jpg" />
        </div>

        <input type="submit" />

        <br />
    </form>

</div>
