@using NatureCottages.ViewModels.General
@model NatureCottages.ViewModels.Forms.EditAttractionViewModel
@{
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

    <a class="back-to-admin-button clickable-anchor" href="@Url.Action("Index", "Admin")"><i class="fa fa-3x fa-arrow-circle-left"></i></a>

<div align="center" style="margin: 5%; padding: 10px;" class="mdl-shadow--4dp">

    <h3>Edit Attraction</h3>


    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <form method="post" enctype="multipart/form-data" action="/Forms/SubmitEditAttractionForm" method="post">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Name, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Name, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Link, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Link, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Link)
                </div>

                <br />

                <div class="mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => m.Description, new { @class = "mdl-textfield__label" })
                    @Html.TextAreaFor(m => m.Description, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>

                <br />

                <div class="mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => m.IsVisibleToClient, new { @class = "mdl-textfield__label" })
                    @Html.CheckBoxFor(m => m.IsVisibleToClient, new { @class = "mdl-checkbox__input" })
                </div>

                @Html.HiddenFor(m => m.Id);


                <br />
                <input class="mdl-button mdl-button--raised mdl-button--accent" type="submit" />
                <br />
            </form>
        </div>



        <div class="mdl-cell mdl-cell--6-col">
            @await Html.PartialAsync("ImageViewer", new ImageViewerViewModel { ImageGroup = Model.ImageGroup, IsEditable = true, IsCottage = true})
            
            <br/>
            <h2>Add Extra Images Here</h2>

            <form enctype="multipart/form-data" method="post" action="\Form\AddImages\@Model.ImageGroup.Id\@false">
                <input type="file" name="images" accept=".png,.jpg,.jpeg" />
                <br />
                <input  type="submit" />
            </form>

        </div>
    </div>
</div>
