@model NatureCottages.ViewModels.Account.CreateAccountViewModel

@{
    Layout = "Layout/_Layout";
}

<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner">

        <div class="mdl-shadow--4dp login-form-wrapper" align="center">


            <h2> Account Details</h2>


            @if (Model.ValidationMessages.Count != 0)
            {
                <div style="color: red;">
                    
                    @foreach (var validation in Model.ValidationMessages)
                    {
                        <p>@validation</p>
                    }     
                </div>
                <hr/>
                <br/>
            }
            @using (Html.BeginForm("ProcessForm", "Account", FormMethod.Post))
            {
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Customer.FullName, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Customer.FullName, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Customer.FullName)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Customer.PhoneNumber, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Customer.PhoneNumber, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Customer.PhoneNumber)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Customer.Account.Username, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Customer.Account.Username, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Customer.Account.Username)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.PlainTextPassword, new { @class = "mdl-textfield__label" })
                    @Html.PasswordFor(m => Model.PlainTextPassword, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.PlainTextPassword)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.ConfirmationPassword, new { @class = "mdl-textfield__label" })
                    @Html.PasswordFor(m => Model.ConfirmationPassword, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.ConfirmationPassword)
                </div>

                @Html.HiddenFor(m => Model.IsAdmin);

                <br />

                <input type="submit" class="mdl-button mdl-button--colored" />
            }
            
            <hr/>

            @Html.ActionLink(" Back to Login", "LoadLogin", "Account",null, new {@class = "mdl-button "})

        </div>                      

    </div>
    </div>