@model NatureCottages.ViewModels.Account.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "Layout/_Layout";
}


@using (Html.BeginForm("LoginCustomer", "Account"))
{
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => Model.Username, new { @class = "mdl-textfield__label" })
        @Html.TextBoxFor(m => Model.Username, new { @class = "mdl-textfield__input" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => Model.Password, new { @class = "mdl-textfield__label" })
        @Html.TextBoxFor(m => Model.Password, new { @class = "mdl-textfield__input" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <input type="submit" class="mdl-button mdl-button--colored" />
}
