@using System.Diagnostics
@model NatureCottages.ViewModels.Account.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "Layout/_Layout";
}


<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner" >

        <div class="mdl-shadow--4dp login-form-wrapper" align="center">

            <i class="fa fa-user-circle fa-7x"></i>
            <p>Login</p>           


            @using (Html.BeginForm("LoginCustomer", "Account"))
            {
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Username, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Username, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Password, new { @class = "mdl-textfield__label" })
                    @Html.PasswordFor(m => Model.Password, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                @Html.HiddenFor(h => h.ReturnRoute)                

                if (Model.LoginFailed)
                 {
                     <h6 style="color: red;" class="input-validation-error">Login Failed Please try again.</h6>
                 }

                <br />
                <br />

                <input type="submit" class="mdl-button mdl-button--accent mdl-button--raised" />
            }
            
          

            <hr style="width: 100%;" />

            <div class="login-form-button-wrapper">
                @Html.ActionLink("Create Account", "LoadCreateAccountCustomer", "Account", null, new { @class = "mdl-button" })
            </div>
            <div class="login-form-button-wrapper">
                @Html.ActionLink("Forgotten Password", "LoadRequestResetPassword", "Account", null, new { @class = "mdl-button" })
            </div>
        </div>
    </div>
</div>

<script src="~/js/Account.js"></script>
