@model NatureCottages.ViewModels.Account.ResetPasswordViewModel

@{
    Layout = "Layout/_Layout";
}

<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner">

        <div class="mdl-shadow--4dp login-form-wrapper" align="center">


            <h2> Reset Password</h2>            


            @*@if (Model.ValidationMessages.Count != 0)
            {
                <div style="color: red;">

                    @foreach (var validation in Model.ValidationMessages)
                    {
                        <p>@validation</p>
                    }
                </div>
                <hr />
                <br />
            }*@
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Username, new { @class = "mdl-textfield__label" })
                    @Html.TextBoxFor(m => Model.Username, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.Password, new { @class = "mdl-textfield__label" })
                    @Html.PasswordFor(m => Model.Password, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <br />

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.LabelFor(m => Model.PasswordReEntered, new { @class = "mdl-textfield__label" })
                    @Html.PasswordFor(m => Model.PasswordReEntered, new { @class = "mdl-textfield__input" })
                    @Html.ValidationMessageFor(m => m.PasswordReEntered)
                </div>

                <br />


                @Html.HiddenFor(m => Model.Code);


                <input type="submit" class="mdl-button mdl-button--accent mdl-button--raised" />
            }

            <hr />

            @Html.ActionLink(" Back to Login", "LoadLogin", "Account", null, new { @class = "mdl-button " })

        </div>

    </div>
</div>