@model NatureCottages.ViewModels.Admin.ActiveCottagesViewModel
@*
     
*@

@{
    Layout = "Layout/_Layout";
}

<div align="center">
        
  
    <table id="ActiveCottagesTable" class="mdl-data-table active-cottages-table">       
        <caption>
            <div>
                <a class="mdl-button--colored mdl-button--raised mdl-button table-header-button" href="@Url.Action("LoadCottageForm", "Form")">Add Cottage</a>
                <h2><i class="fas fa-home"></i> Active Cottages</h2>
            </div>
        </caption>
        <thead>
        <tr>
            <th style="width: 10%;">Cottage Name</th>
            <th style="width: 10%;">Cottage Description </th>
            <th style="width: 5%;">Operations</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cot in Model.Cottages)
        {
            <tr>
                <td>
                    <p> @cot.Name</p>
                </td>
                <td style="overflow:scroll; max-width: 300px;">
                    <p > @cot.Description</p>
                </td>
                <td>
                    @Html.ActionLink("Edit", "LoadCottageEditForm", "Form", new { cottid = cot.Id }, new { @class = "mdl-button--accent mdl-button--raised mdl-button" })

                    @if (@cot.IsVisibleToClient)
                    {
                        @Html.ActionLink("Hide from Clients", "MakeCottageNonVisible", "Admin", new { cottid = cot.Id }, new { @class = "mdl-button--accent mdl-button--raised mdl-button" })
                    }
                    else
                    {
                        @Html.ActionLink("Show to Clients", "MakeCottageVisible", "Admin", new { cottid = cot.Id }, new { @class = "mdl-button--accent mdl-button--raised mdl-button" })
                    }
                </td>
            </tr>
        }
    </table>

</div>
