@model NatureCottages.ViewModels.Admin.ActiveAttractionsViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Layout/_Layout";
}


<a class="back-to-admin-button clickable-anchor" href="@Url.Action("Index", "Admin")"><i class="fa fa-3x fa-arrow-circle-left"></i></a>


<div class="container" align="center">
    
    <br/>
    <h1 style="margin-top: 5px;"><i class="fas fa-newspaper"></i> News Management</h1>

    <div class="container">


        <a href="@Url.Action("LoadAttractionForm", "Form")" class="clickable-anchor add-cottage-button"><i class="fa fa-3x fa-plus-square"></i></a>


        <table id="ActiveCottagesTable" class="table mdl-shadow--4dp">
            <thead>
                <tr>
                    <th style="width: 10%;">News Item Name</th>
                    <th style="width: 5%;">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attraction in Model.Attractions)
            {
                <tr>
                    <td>
                        <p> @attraction.Name</p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "LoadAttractionEditForm", "Form", new {id = attraction.Id}, new {@class = "mdl-button--accent mdl-button--raised mdl-button"})

                        @if (attraction.IsVisibleToClient)
                        {
                        @Html.ActionLink("Hide from Clients", "MakeAttractionNonVisible", "Admin", new {id = attraction.Id}, new {@class = "mdl-button--accent mdl-button--raised mdl-button"})
                        }
                        else
                        {
                        @Html.ActionLink("Show to Clients", "MakeAttractionVisible", "Admin", new {id = attraction.Id}, new {@class = "mdl-button--accent mdl-button--raised mdl-button"})
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
