@model NatureCottages.ViewModels.Admin.BookingRequestsViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "Layout/_Layout";
}

    <a class="back-to-admin-button clickable-anchor" href="@Url.Action("Index", "Admin")"><i class="fa fa-3x fa-arrow-circle-left"></i></a>

<div class="center-vetical-horizontal-outer">
    <div align="center" class="center-vetical-horizontal-inner">


        <h3>Booking Requests</h3>
        <br />
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Cotttage Name</th>
                    <th>Booking Start</th>
                    <th>Booking End</th>
                    <th>Booking Duration</th>
                    <th>Accept/Decline</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.UnApprovedBookings)
            {
                <tr>
                    <td>
                        @booking.Customer.FullName
                    </td>
                    <td>
                        @booking.Cottage.Name
                    </td>
                    <td>@booking.DateFrom.ToShortDateString()</td>
                    <td>@booking.DateTo.ToShortDateString()</td>
                    @{
                        int durationinDays = 0;
                        var span = booking.DateTo - booking.DateFrom;
                        durationinDays = span.Days;
                    }
                    <td>@durationinDays <span>Days</span></td>
                    <td>
                        <div>
                            @Html.ActionLink("Accept", "ProcessBookingRequestDecision", "Admin", new {isAccepted = true, bookingId = booking.Id}, new {@class = "mdl-button--raised mdl-button mdl-button--colored"})
                            @Html.ActionLink("Reject", "ProcessBookingRequestDecision", "Admin", new {isAccepted = false, bookingId = booking.Id}, new {@class = "mdl-button--raised mdl-button mdl-button--colored", @style = "background: red;"})
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>