@model NatureCottages.ViewModels.Admin.InboxViewModel
@{
    Layout = "Layout/_Layout";   
}

    <a class="back-to-admin-button clickable-anchor" href="@Url.Action("Index", "Admin")"><i class="fa fa-3x fa-arrow-circle-left"></i></a>

<div class="center-outer">
    <div class="center-inner">
        
        <div id="MessageArea"></div>
        
        <br/>
        <h2>Messages</h2>
        <br/>
                
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th>Date Sent</th>
                <th>Mark as Read</th>
                <th>Read</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var message in Model.ClientMessages)
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">@message.Email</td>
                    <td>@message.DateSent.ToShortDateString()</td>
                    <td>
                        @Html.ActionLink("Mark", "MarkMessageAsClosed", "Admin", new {id = message.Id}, new {@class = "mdl-button mdl-button--raised"})
                    </td>
                    <td>
                        <button class="mdl-button mdl-button--raised read-btn" messageId="@message.Id">Read</button>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>

<script src="~/js/inboxController.js" type="text/javascript"></script>

